/* Skeleton ka CSS */

/* @import url("https://fonts.googleapis.com/css?family=Manjari:100,400,700&display=swap"); */

@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200;300;400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');

body {
  margin: 0;
  padding: 0;
  font-family: "Manjari", sans-serif;
}

.sidebar {
  width: 85px;
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  background: #81181d;
  box-shadow: 0px 0px 19px rgba(0, 0, 0, 0.06);
  margin-top: 5rem;
}

.main-menu {
  margin-block-start: 0;
  margin-block-end: 0;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.menu-item {
  list-style: none;
  position: relative;
  width: 85px;
  height: 65px;
}

.menu-txt {
  opacity: 0;
  width: 0px;
  min-width: 0px;
  overflow: hidden;
  transition: 300ms linear;
  transition-delay: 250ms;
  display: flex;
  align-items: center;
  position: relative;
  top: 2px;
  white-space: nowrap;
  overflow: hidden;
}

.menu-a {
  padding: 35px 33.5px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
}

.menu-icon {
  display: block;
  font-size: 1.5rem;
  color: #ffffff;
  position: relative;
  z-index: 100;
  transition: 400ms;
}

.menu-item:hover .menu-txt {
  opacity: 1;
  width: 100%;
  min-width: 40px;
  padding: 0px 20px;
  transition-delay: 0s;
  color: #81181d;
}

.menu-txt-hld {
  position: absolute;
  z-index: 99;
  background: rgba(255, 255, 255, 0);
  border: 1px solid rgba(0, 0, 0, 0);
  border-radius: 38px;
  font-size: 0.94rem;
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0);
  padding: 9.5px 8px;
  transition: 250ms linear;
  display: flex;
  align-items: center;
  left: 20px;
  transition-delay: 300ms;
}

.menu-item:hover .menu-txt-hld {
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.9);
  background: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.05);
  transition-delay: 0ms;
}
.active .menu-icon {
  color: #ffffff;
}
.menu-icon:hover {
  color: #81181d;
}
.menu-txt-hld:hover .menu-icon {
  color: #81181d;
}

.nav-height {
  height: 4.95rem;
}

.navstyle {
  overflow: hidden;
  position: fixed;
  top: 0;
  width: 100%;
}
a{
  color: #81181d;
}
link{
  color: #81181D;
}
